<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员页面</title>

    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
    </style>
</head>
<body>
<div id="admin">
    <el-container style="height: 500px; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1', '3']">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-message"></i>成员管理</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1" @click="getUid('管理员')">管理员</el-menu-item>
                        <el-menu-item index="1-2" @click="getUid('审核员')" >审核员</el-menu-item>
                        <el-menu-item index="1-3" @click="getUid('普通用户')" >普通用户</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>用户一览</template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1" @click="getAll()">全体用户</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>

            </el-menu>
        </el-aside>

        <el-container >
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown >
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="getMy()">查看个人信息</el-dropdown-item>
                        <el-dropdown-item @click.native="updateMy()">修改个人信息</el-dropdown-item>
                        <el-dropdown-item @click.native="logout()">退出登录</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>管理员</span>
            </el-header>

            <!--主模块显示数据-->
            <el-main>
                <el-input placeholder="用户名称" v-model="userUser" style="width: 200px;" class="filter-item"></el-input>
                <el-button type="primary" round @click="getByUser()" >查询用户</el-button>
                <el-button type="primary" round @click="handleCreate()">新增用户</el-button>
                <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                    <el-table-column prop="id" align="center" label="用户id"></el-table-column>
                    <el-table-column prop="userUser" label="用户名" align="center"></el-table-column>
                    <el-table-column prop="userPass" label="用户密码" align="center"></el-table-column>
                    <el-table-column prop="sex" label="性别" align="center"></el-table-column>
                    <el-table-column prop="uid" label="用户权限" align="center"></el-table-column>

                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">修改</el-button>
                            <el-button type="danger" size="mini" @click="handleDelete(scope.row)">删除</el-button>
                        </template>
                    </el-table-column>

                </el-table>

                        <!-- 新增标签弹层 -->

                <el-dialog title="新增用户" :visible.sync="dialogFormVisible">

                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                        <el-form-item label="用户名" prop="userUser">
                            <el-input v-model="formData.userUser"></el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="userPass">
                            <el-input v-model="formData.userPass"></el-input>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex">
                            <el-select v-model="formData.sex" placeholder="请选择用户性别">
                                <el-option label="男" value="男"></el-option>
                                <el-option label="女" value="女"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="电话" prop="userPhone">
                            <el-input v-model="formData.userPhone"></el-input>
                        </el-form-item>
                        <el-form-item label="用户权限" prop="uid">
                            <el-select v-model="formData.uid" placeholder="请选择用户权限">
                                <el-option label="普通用户" value="普通用户"></el-option>
                                <el-option label="管理员" value="管理员"></el-option>
                                <el-option label="审核员" value="审核员"></el-option>
                            </el-select>
                        </el-form-item>

                    </el-form>
                    <el-button @click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @click="handleAdd()">确定</el-button>

                </el-dialog>



                        <!-- 编辑标签弹层 -->
                <el-dialog title="修改用户" :visible.sync="dialogFormVisible4Edit">
                <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">

                    <el-form-item label="用户名" prop="userUser">
                        <el-input v-model="formData.userUser"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="userPass">
                        <el-input v-model="formData.userPass"></el-input>
                    </el-form-item>
                    <el-form-item label="性别" prop="sex">
                        <el-select v-model="formData.sex" placeholder="请选择用户性别">
                            <el-option label="男" value="男"></el-option>
                            <el-option label="女" value="女"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="电话" prop="userPhone">
                        <el-input v-model="formData.userPhone"></el-input>
                    </el-form-item>

                </el-form>
                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>

                <el-button type="primary" @click="handleEdit()">确定</el-button>
                </el-dialog>


            </el-main>
        </el-container>
    </el-container>
    <!--显示个人信息-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" >个人信息查看</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <p align="center">用户名 : {{myUser}}</p>
                    <p align="center">密码 : {{userPass}}</p>
                    <p align="center">性别 : {{sex}}</p>
                    <p align="center">电话 : {{myUser}}</p>
                    <p align="center">权限 : {{uid}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="updateMy()">修改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--修改个人信息-->
    <div class="modal" id="updateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" >个人信息修改</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <el-form  :model="myFormData" :rules="rules" label-position="right" label-width="100px">

                        <el-form-item label="用户名" prop="userUser">
                            <el-input v-model="myFormData.userUser"></el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="userPass">
                            <el-input v-model="myFormData.userPass"></el-input>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex">
                            <el-select v-model="myFormData.sex" placeholder="请选择用户性别">
                                <el-option label="男" value="男"></el-option>
                                <el-option label="女" value="女"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="电话" prop="userPhone">
                            <el-input v-model="myFormData.userPhone"></el-input>
                        </el-form-item>

                    </el-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="handleMyEdit()">修改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    </div>
<script src="../../js/vue.js"></script>
<script src="../../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../../element-ui/lib/theme-chalk/index.css"/>
<link rel="stylesheet" href="../../css/bootstrap.min.css" />
<script src="../../js/axios-0.18.0.js"></script>
<script src="../../js/jquery-3.2.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>


<script>
    new Vue({
        el: "#admin",
        data:{
            //个人信息栏
            myUser: '',
            userPass: '',
            sex: '',
            UserPhone: '',
            uid: '',


            myData: {},
            myFormData: {},//我的数据列表
            userUser: '',//按用户名查询
            dataList: [],//当前页要展示的列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//控制表单是否可见
            dialogDescVisible: false,//个人信息是否可见
            dialogFormVisible4Edit:false,//编辑表单是否可见
            rules: {//校验规则
                userUser: [{ required: true, message: '用户名为必填项', trigger: 'blur' }],
                userPass: [{ required: true, message: '用户密码为必填项', trigger: 'blur' }]
            },
            menuUid: null,
            admin: "管理员",
            author: "审核员",
            user: "普通用户",
        },

        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.getAll();
           // $("#myModal").modal("hide");
        },

        methods: {
            //列表
            getAll() {
                //发送ajax请求
                axios.get("/User/getAll").then((res)=>{
                    this.dataList = res.data.data;
                });
            },
            //以用户名查询
            getByUser() {
               axios({
                    method: 'post',
                    url: '/User/getByUser',
                    data: {
                        userUser: this.userUser
                    }
                }).then(res=>{
                    <!--只能查询一次-->
                    console.log(res);
                    if(res.data.code==200){
                        this.dataList=res.data.data;
                        //重置输入框
                        this.resetUser();
                    }else{
                        this.$message(res.data.msg);
                    }
                })
            },
            //点击角色菜单栏
            getUid(menuUid) {
                console.log(menuUid);
                axios.get("/User/getUid/"+menuUid).then((res)=>{
                    this.dataList = res.data.data;
                });
            },
            //弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.resetForm();
            },

            //重置表单
            resetForm() {
                this.formData = {};
            },
            resetUser(){
                this.userUser='';
            },

            //添加
            handleAdd () {
                //发送ajax请求
                axios.post("/User/add",this.formData).then((res)=>{
                    console.log(res.data);
                    //如果操作成功，关闭弹层，显示数据
                    if(res.data.code == 200){
                        this.dialogFormVisible = false;
                        this.$message.success(res.data.msg);
                    }if(res.data.code == 500){
                        this.$message.error("添加失败");
                    }if(res.data.code == 409){
                        this.formData.userUser= null;
                        this.$message.error(res.data.msg);
                    }
                }).finally(()=>{
                    this.getAll();
                });
            },
            //登录人员信息列表
            getMy(){
                // $.modal.open("查看用户信息","/User/getMy");
                axios.get("/User/getMy").then((res)=>{
                   // this.dataList = res.data.data;
                    console.log(res);
                        this.myUser=res.data.data.userUser;
                        this.userPass=res.data.data.userPass;
                        this.sex=res.data.data.sex;
                        this.userPhone=res.data.data.userPhone;
                        this.uid=res.data.data.uid;
                });

                $("#myModal").modal("show");
            },
            updateMy(){
                $("#myModal").modal("hide");
                axios.get("/User/getMy").then((res)=>{
                    console.log(res);
                    this.myFormData=res.data.data;
                });
                $("#updateModal").modal("show");

            },
            handleMyEdit(){
                axios.put("/User/update",this.myFormData).then((res)=>{
                    //如果操作成功，关闭弹层，显示数据
                    if(res.data.code == 200){
                        $("#updateModal").modal("hide");
                        this.$message.success("修改成功");
                    }else if(res.data.code == 500){
                        this.$message.error("修改失败");
                    }else{
                        this.$message.error(res.data.msg);
                    }
                }).finally(()=>{
                    this.getAll();
                });
            },
            //弹出修改窗口
            handleUpdate(row) {
                console.log(row);   //row.id 查询条件
                //查询数据，根据id查询
                axios.get("/User/getById/"+row.id).then((res)=>{
                    // console.log(res.data.data);
                    if(res.data.code == 200){
                        //展示弹层，加载数据
                        this.formData = res.data.data;
                        this.dialogFormVisible4Edit = true;
                    }else{
                        this.$message.error(res.data.msg);
                    }
                });
            },

            //修改
            handleEdit() {
                //发送ajax请求
                axios.put("/User/update",this.formData).then((res)=>{
                    //如果操作成功，关闭弹层，显示数据
                    if(res.data.code == 200){
                        this.dialogFormVisible4Edit = false;
                        this.$message.success("修改成功");
                    }else if(res.data.code == 500){
                        this.$message.error("修改失败");
                    }else{
                        this.$message.error(res.data.msg);
                    }
                }).finally(()=>{
                    this.getAll();
                });
            },

            // 删除
            handleDelete(row) {
                //1.弹出提示框
                this.$confirm("此操作永久删除当前数据，是否继续？","提示",{
                    type:'info'
                }).then(()=>{
                    //2.做删除业务
                    axios.delete("/User/delete/"+row.id).then((res)=>{
                        if(res.data.code == 200){
                            this.$message.success("删除成功");
                        }else{
                            this.$message.error("删除失败");
                        }
                    }).finally(()=>{
                        this.getAll();
                    });
                }).catch(()=>{
                    //3.取消删除
                    this.$message.info("取消删除操作");
                });
            },
            logout(){
                axios.post("/User/logout").then((res)=>{
                    if(res.data.code==200){
                        window.location.href="../login/login.html";
                        this.$message(res.data.msg);
                    }
                    else{
                        this.$message("退出失败");
                    }
                })
            }
        }
    })

</script>
</body>
</html>